html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a{text-decoration: none;}
a:link { color: rgb(255, 255, 255); text-decoration: none;}
a:visited { color: rgb(255, 255, 255); text-decoration: none;}
a:hover { color: rgb(131, 131, 131); text-decoration: underline;}
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
}

:root {
    --color-backgrond: #0D1117;
    --color-line: rgba(251, 251, 251, 0.2);
    --color-str: rgba(251, 251, 251, 0.8);
    --color4-cube: #ffffff55;
    --color4-code: #79C0FF;
}
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box {
    display: flex;
    /* border: 1px solid gray; */
    color: white;
}

.container {
    background-color: var(--color-backgrond);
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-bottom: 0.01rem solid var(--color-line);
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}

.left {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

.footer {
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 00.01rem solid var(--color-line);
}

.footer>span {
    padding-left: 5px;
    padding-top: 2px;
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--color-str);
}

.center {
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about {
    padding: 20px;
    width: 80%;
    height: auto;
    border: 0.01rem solid rgba(251, 251, 251, 0.2);
    border-radius: 10px;
}

.inline-code {
    color: var(--color4-code);
    border-radius: 10px;
    background-color: #161B22;
    overflow: auto;
}

.color-red {
    color: #F87870;
}

.color-orange {
    color: #FFA657;
}

.color-white {
    color: white;
}

.color-bright {
    color: #A5D6FF;
}

.first-say {
    font-size: 2rem;
    font-weight: bold;
}

.about-say {
    font-size: 1.2rem;
    font-style: italic;
}

.more-say {
    font-size: 1.6rem;
}

.last-say {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}

.experience {
    width: 80%;
    height: 200px;
    overflow: auto
}

.experience-box {
    padding-top: 10px;
    margin-left: 10px;
    border-top: 0.01rem solid rgba(251, 251, 251, 0.2);
    border-left: 0.01rem solid rgba(251, 251, 251, 0.2);
}

.experience-title {
    background-color: #0D1117;
    padding-right: 10px;
    padding-bottom: 5px;
    position: relative;
    top: 10px;
    z-index: 1;
}

.work {
    position: relative;
    right: 10px;
}

.work-box {
    flex-direction: row;
    margin-top: 35px;
}

.work-title {
    position: relative;
    bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.work-date {
    padding-left: 25px;
    color: var(--color4-code);
}

h2 {
    padding-top: 25px;
    font-size: 1.2rem;
}

.profile {
    position: fixed;
}
.profile-img{
    display: flex;
}

.profile-img>img {
    position: relative;
    left: 5px;
    bottom: 25px;
    min-width: 100px;
    max-width: 200px;
    border-radius: 100%;
    border: 0.2rem solid var(--color-line);

}
.change{
    border-left: 0.01rem solid var(--color-line);
    padding-left: 10px;
}

.ghost {
    animation: motion 0.3s linear 0s infinite alternate;
    margin-top: 0;
}

.ghost-box {
    display: inline;
    position: absolute;
    vertical-align: middle;
}

@keyframes motion {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 10px;
    }
}

.profile-name {
    font-size: 2.3rem;
    font-weight: 900;
    color: rgba(251, 251, 251, 0.9);
}

.profile-name-sub {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(251, 251, 251, 0.6);
}

.cube {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    /*transition: 2s;*/
    animation: ani 5s linear infinite;
}

@keyframes ani {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }

    100% {
        transform: rotateX(1turn) rotateY(1turn);
    }
}


.cube div {
    width: 100%;
    height: 100%;
    background-color: var(--color4-cube);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: .2em;
}

.cube .C-top,
.cube .C-bottom {
    width: 40px;
    height: 40px;
}

.cube .C-left,
.cube .C-right {
    width: 40px;
    height: 40px;
}

.cube .C-top {
    transform: rotateX(90deg) translateZ(20px);
    background-color: var(--color4-cube);
}

.cube .C-bottom {
    transform: rotateX(-90deg) translateZ(20px);
    background-color: var(--color4-cube);
}

.cube .C-left {
    transform: rotateY(-90deg) translateZ(20px);
    background-color: var(--color4-cube);
}

.cube .C-right {
    transform: rotateY(90deg) translateZ(20px);
    background-color: var(--color4-cube);
}

.cube .C-front {
    transform: translateZ(20px);
    background-color: var(--color4-cube);
}

.cube .C-back {
    transform: rotateY(0.5turn) translateZ(20px);
    background-color: var(--color4-cube);
}

.skill {
    width: 50%;
}

.details {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;

    border: 2px solid var(--color4-code);

    border-radius: 20px;

}

.bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: var(--color4-code);
}

#html-bar {
    animation: html-fill 2s forwards;
}

@keyframes html-fill {
    100% {
        width: 90%;
    }
}

#css-bar {
    animation: css-fill 2s forwards;
}

@keyframes css-fill {
    100% {
        width: 80%;
    }
}

#javascript-bar {
    animation: js-fill 2s forwards;
}

@keyframes js-fill {
    100% {
        width: 85%;
    }
}
.up{
    width: 50px;
    height: 50px;
    position:fixed;
    bottom: 100;
    right: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}
.up > img{
    animation: motion 0.4s linear 0s infinite alternate;
}

/* 반응형 */
@media all and (max-width: 980px) {
    * {
        transition: all 1s;
    }

    .content {
        flex-direction: column;
    }

    .left {
        width: 100%;
        margin: auto;
        align-items: center;
    }

    .profile {
        position: inherit;
    }

    .profile-img>img {
        position: inherit;
        display: flex;
        left: auto;
        bottom: auto;
        margin: 0 auto;
        margin-top: 20px;
        width: 100px;
    }

    .center {
        align-items: center;
        padding-left: 0;
    }
    .menu{
        text-align: center;
    }
    .change{
        width: 100%;
        text-align: center;
        padding: 0;
        border: none;
        display: flex;
        justify-content: space-between;
    }
    .change > li {
        margin: 0 40px;
    }
}


@media all and (min-width: 980px) {
    * {
        transition: all 0.1s;
    }
}